.filters {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .filters {
    align-items: center;
    padding: 8px 0;
  }
}