.filters {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}