.infoModal__container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: -400px;
  background-color: white;
  width: 350px;
  min-height: 80px;
  margin: 20px 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  padding: 5px;
  transition: all 0.3s ease;
  z-index: 99999;
}

.infoModal__show {
  right: 0;
}

.infoModal__container h2 {
  font-size: 1.2rem;
  padding-left: 8px;
  font-weight: 500;
  color: #555;
}

.infoModal__error {
  border-left: 6px solid #DC3E45;
}

.infoModal__info {
  border-left: 6px solid #25A2B8;
}

.infoModal__success {
  border-left: 6px solid #47A846;
}

.infoModal__error>:first-child, 
.infoModal__info>:first-child, 
.infoModal__success>:first-child {
  display: none;
}
